#main-title {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

h1.title {
  color: #ffe4c4;
  font-size: 100px;
}

.main {
  display: grid;
  justify-content: center;
  place-items: left;
  padding-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

form div {
  display: flex;
}

label {
  width: 15rem;
}

input {
  width: 10rem;
}

#submit-btn {
  border-radius: 0.2rem;
  width: 10rem;
}

#good-alert {
  display: none;
  justify-content: center;
}

#bad-alert {
  display: none;
  justify-content: center;
}
